@charset "UTF-8";
@import url('https://font.imbc.com/mbcnew/mbcnew.css');
@import url('https://font.imbc.com/noto/noto.css');
@import url('https://font.imbc.com/nanumgothic/nanumgothic.css');

/* Common */
* {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
}

iframe {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

fieldset,
img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

ol,
ul,
li {
    list-style: none;
}

address,
em {
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
    text-align: left;
}

caption {
    text-indent: -9999px;
    height: 0;
    overflow: hidden;
    line-height: 0;
}

body,
input,
select,
textarea,
button {
    font: 14px/1.3 'notokr-regular', "Noto Sans CJK KR", "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", 'Malgun Gothic', '맑은 고딕', 'notokr-regular', 'Nanum Gothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: -0.05em;
}

input,
select,
textarea {
    border: 1px solid #bbb;
}

button {
    overflow: visible;
    border: 0 none;
    background-color: transparent;
    font-size: 100%;
    font-family: 'notokr-regular';
    cursor: pointer;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

strong {
    font-weight: normal;
}

.cf:after,
.cf:before {
    content: '';
    clear: both;
    display: block;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.ellipsis3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.hidden {
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

.btnGnbEvent {
    position: relative;
}

.sortable-handler {
    touch-action: none;
    overflow: hidden;
}

/* Body Area */
#wrap {
    width: 100%;
    min-width: 320px;
    overflow: hidden;
}

button {
    color: #000;
}

#wrap {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rschTop_bg.png) 0 0 no-repeat;
    background-position: center top;
    background-size: 100%;
}

/* Header Area */
.header {
    width: 100%;
    max-width: 1024px;
    position: relative;
}

.header .logo_wrap {
    width: 100%;
    max-width: 1024px;
    height: 60px;
    position: relative;
}

.header .logo_wrap .logo {
    position: absolute;
}

.header .logo_wrap .logo_imnews {
    width: 60px;
    height: 13px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/logo_imnews.png) 0 0 no-repeat;
    background-size: 60px;
    top: 16px;
    left: 20px;
}

.header .logo_wrap .logo_2022vote {
    width: 105px;
    height: 32px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/logo_vote2022.png) 0 0 no-repeat;
    background-size: 105px;
    top: 15px;
    left: 50%;
    margin-left: -52px;
}

.header .logo_wrap .logo_imnews a,
.header .logo_wrap .logo_2022vote a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .logo_wrap .logo_day {
    top: 13px;
    right: 20px;
    width: 97px;
    text-align: right;
}

.header .logo_wrap .logo_day .day_txt {
    font-size: 11px;
    letter-spacing: -0.1em;
}

.header .logo_wrap .day_txt.day_bar {
    width: 68px;
    border-bottom: 1px solid #e1c2b2;
    text-align: center;
    font-weight: 800;
}

.header .logo_wrap .day_time {
    color: black;
    font-size: 10px;
    letter-spacing: -0.1em;
    text-align: center;
    font-weight: 700;
}

.header .logo_wrap .logo_day .d_day {
    font-size: 20px;
    color: #a27b63;
    font-family: 'mbcnew-medium', sans-serif;
    font-weight: 800;
}

.header .logo_wrap .logo_day .vote_today {
    font-size: 16px;
    color: #000032;
    padding-top: 3px;
    font-family: 'mbcnew-medium', sans-serif;
    font-weight: 800;
}

.header .logo_wrap .live_day {
    top: 10px;
    right: 20px;
    width: 97px;
    text-align: right;
}

.header .logo_wrap .live_day {
    text-align: right;
}

.header .logo_wrap .live_day .day_txt {
    font-size: 12px;
    color: #845f47;
    font-family: 'notokr-bold';
}

.header .logo_wrap .live_day .d_day {
    color: #42342c;
    position: relative;
    width: 62px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    text-align: center;
    text-indent: 12px;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 0;
}

.header .logo_wrap .live_day .d_day:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #eb6100;
    border-radius: 50%;
    background-size: 6px;
    position: absolute;
    top: 8px;
    right: 43px;
    animation-duration: 1s;
    animation-name: ani;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ani {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media screen and (max-width: 1700px) {
    aside {
        left: 91%
    }
}

/* accessibility */
#u_skip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    text-align: left;
}

#u_skip a {
    display: block;
    position: absolute;
    top: -1000px;
    left: 0;
    z-index: 500;
    width: 100%;
    text-align: center;
}

#u_skip a:focus,
#accessibility a:active {
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 40px;
    background: #000;
    color: #fff;
    line-height: 40px;
}

/* Navigation */
.navi {
    width: 100%;
    height: 45px;
    /*background: rgba(255, 255, 255, 0.9);*/
}

.navi>ul {
    overflow: hidden;
    display: table;
    background: rgba(255, 255, 255, 0.9);
}

.navi>ul>li {
    font-size: 16px;
    width: 70px;
    height: 45px;
    line-height: 45px;
    float: left;
    color: #000;
    font-family: 'mbcnew-medium';
    padding: 0 16px;
    text-align: center;
}

.navi>ul>li:nth-child(2) {
    width: 76px;
}

.navi>ul>li>a {
    display: block;
    position: relative;
}

.navi.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 149;
}

.navi {
    overflow-x: auto;
    white-space: nowrap;
}

.fliking.navi::-webkit-scrollbar {
    display: none;
}

.fliking.navi .nav_blur {
    content: '';
    display: block;
    width: 55px;
    height: 45px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 0%) 5%, rgb(255 255 255 / 90%) 30%);
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
}

.fliking.navi>ul {
    overflow: hidden;
    display: table;
}

.fliking.navi>ul>li {
    width: auto;
    padding: 0 10px;
    float: left;
}

/* Menu navigation */
.menu_wrap {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -90%;
    z-index: 155;
    width: 90%;
    height: 100%;
    background: #fff;
}

.menu_top {
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #000032 50%, #fca791 50%);
    position: absolute;
    z-index: 151;
    top: 0;
}

.menu_top>ul {
    width: 100%;
    display: block;
    margin: 0 auto;
    background: #f0ccbc url(https://image.imnews.imbc.com/issue/2022vote/m/images/menu_top_bg.jpg) 0 0 no-repeat;
    background-size: 750px 150px;
    padding-top: 60px;
    background-position: top center;
}

.menu_top>ul>li {
    font-size: 16px;
    margin: 0 20px;
    height: 45px;
    line-height: 45px;
    color: #000;
    font-family: 'mbcnew-medium';
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/menuList_arrow_01.png) 100% 16px no-repeat;
    background-size: 7px;
    border-top: 1px solid rgba(240, 240, 240, 0.2);
}

.menu_top>ul>li:first-child {
    border-top: 0;
}

.menu_top>ul>li>a {
    display: block;
}

.menu_list {
    width: 100%;
    z-index: 149;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    padding: 160px 0 50px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu_list>ul {
    max-width: 720px;
    padding: 0 20px;
}

.menu_list>ul>li {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-family: 'notokr-bold';
    font-weight: bold;
    border-bottom: 1px solid #f0f0f0;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/menuList_arrow_01.png) 100% 16px no-repeat;
    background-size: 7px;
}

.menu_list>ul>li.research_lk,
.menu_list>ul>li:last-child {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/menuList_arrow_02.png) 100% 16px no-repeat;
    background-size: 12px;
}

.menu_list>ul>li.research_lk {
    height: 150px;
}

.menu_list>ul>li:last-child {
    height: 180px;
}

.menu_list>ul>li a {
    display: block;
}

.sub_list>li {
    color: #787878;
    height: 30px;
    line-height: 30px;
    font-family: "Noto Sans CJK KR", "Noto Sans KR", sans-serif;
    font-weight: normal;
    padding-left: 6px;
}

.menu_btn {
    width: 17px;
    height: 16px;
    position: absolute;
    display: block;
    cursor: pointer;
}

.btn_gnb {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/btn_gnb.png) 0 0 no-repeat;
    background-size: 17px;
    top: 73px;
    right: 20px;
    z-index: 999;
}

.btn_close {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/btn_close.png) 0 0 no-repeat;
    background-size: 17px;
    top: 16px;
    right: 20px;
    z-index: 156;
}

.btnGnbEvent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 154;
}

/* Container */
.container {
    width: 100%;
    max-width: 1024px;
}

/* Section */
.section {
    border-bottom: 8px solid #f1f1f1;
}

.content_bx {
    padding: 0 20px;
}

.section_top {
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

.section_top>a {
    display: block;
    position: relative;
}

.section_top>a span {
    display: inline-block;
}

.section_top .sectiontop_txt {
    font-family: 'notokr-regular';
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 20px;
}

.section_top .sectiontop_txt .source_txt span.c_a27b63 {
    color: #a27b63;
    font-family: 'notokr-bold';
}

.section_top .sectiontop_arrow {
    width: 10px;
    height: 17px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/sectiontop_arrow.png) 0 0 no-repeat;
    background-size: 10px;
    position: absolute;
    top: 22px;
    right: 25px;
}

.section_top .spantop_arrow {
    height: 17px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/spantop_arrow.png) 53px 4px no-repeat;
    background-size: 5px;
    position: absolute;
    top: 22px;
    right: 25px;
    padding-right: 10px;
}

.section_top .sectiontop_txt .source_txt {
    font-size: 12px;
    font-weight: normal;
    color: #000;
    margin-left: 7px;
}

.sctTop_ico {
    display: inline-block;
    width: 22px;
    height: 60px;
    vertical-align: top;
    margin-right: 4px;
}

.rsc_ico_01 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_01.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_02 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_02.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_03 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_03.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_04 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_04.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_05 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_05.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_06 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_06.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_07 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_07.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_08 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_08.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_09 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_09.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_10 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_10.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_11 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_11.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_12 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_12.png) 0 16px no-repeat;
    background-size: 22px;
}

.rsc_ico_13 {
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/rsc_ico_13.png) 0 16px no-repeat;
    background-size: 22px;
}

/* 기사 리스트 */
.news_bx {
    margin: 18px auto 0;
    max-width: 654px;
}

.news_bx ul {
    overflow: hidden;
    display: table;
    width: 100%;
}

.news_bx ul li {
    width: 46%;
    max-width: 300px;
    margin-left: 20px;
    float: left;
    margin-top: 15px;
    display: table-row;
}

.news_bx ul li:first-child,
.news_bx ul li:nth-child(2) {
    margin-top: 0;
}

.news_bx ul li:nth-child(odd) {
    margin-left: 0;
}

.news_bx ul li a,
.news_bx ul li a span {
    display: block;
}

.news_bx ul li a {
    width: 100%;
}

.news_bx ul li a .news_photo {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    height: 23.52941176470588vw;
    max-height: 170px;
}

.news_bx ul li a .news_photo:before {
    content: '';
    display: block;
    width: 30px;
    height: 35px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/video_ico.png) 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.news_bx ul li a .commingsoon:before {
    display: none;
}

.news_bx ul li a .news_photo img {
    width: 100%;
    min-width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.news_bx ul li a .news_txt {
    font-size: 15px;
    height: 48px;
    line-height: 23px;
    margin-top: 13px;
}

.headline_wrap {
    padding: 20px 20px 25px;
}

.headline_list ul li {
    color: #000;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #f1f1f1;
}

.keyword_more {
    width: 100%;
    max-width: 660px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #e6e6e6;
    text-align: center;
    margin-top: 20px;
}

.keyword_more button {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: url(https://image.imnews.imbc.com/issue/2022vote/m/images/kwd_more_btn.png) no-repeat;
    background-size: 11px;
    background-position: 125px 17px;
    color: #000;
}

/* Footer Area */
.footer_wrap {
    padding: 24px 20px;
    text-align: center;
    color: #5b5f72;
    border-top: 10px solid #eee;
    letter-spacing: -1px;
    background: #fff;
}

.footer_sns {
    margin-bottom: 20px;
}

.footer_sns ul {
    font-size: 0;
}

.footer_sns ul li {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 0 9.5px 6px;
}

.footer_sns ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://image.imnews.imbc.com/issue/vote2020/images/m/ico_footersns.png) no-repeat 0 50%;
    background-size: 162px;
    text-indent: -9999px;
}

.footer_sns ul li.icon_facebook a {
    background-position: -27px 50%;
}

.footer_sns ul li.icon_tweeter a {
    background-position: -54px 50%;
}

.footer_sns ul li.icon_instagram a {
    background-position: -81px 50%;
}

.footer_sns ul li.icon_band a {
    background-position: -109px 50%;
}

.footer_sns ul li.icon_post a {
    background-position: 100% 50%;
}

.footer_nav {
    margin-bottom: 25px;
}

.footer_nav ul {
    margin-bottom: 4px;
    font-size: 0;
}

.footer_nav ul li {
    display: inline-block;
    padding-left: 12px;
    margin: 0 0 5.5px 12px;
    background: url(https://image.imnews.imbc.com/issue/vote2020/images/m/line_vertical2.png) no-repeat 0 50%;
    background-size: 1px;
}

.footer_nav ul li:first-child {
    margin: 0;
    padding: 0;
    background: none;
}

.footer_nav ul li a {
    color: #5b5f72;
}

.footer_active {
    width: 170px;
    margin-top: 10px;
}

.footer_active a {
    display: block;
}

.poll_section {
    background: #fff;
}

@media all and (min-width: 800px) {
    .menu_top>ul>li {
        width: 680px;
        margin: 0 auto;
    }

    .btn_close {
        right: 50%;
        margin-right: -345px;
    }
}

@media all and (min-width: 1024px) {
    #wrap {
        background-size: 1024px;
    }
}

@media all and (min-width: 1030px) {
    .btn_gnb {
        right: 50%;
        margin-right: -490px;
    }
}